PORT=3000
APP_ENV=development
SESSION_SECRET=change_me
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=impactmis
DB_PORT=3306
DEV_ADMIN_NAME=Developer Admin
DEV_ADMIN_EMAIL=admin@impactmis.local
DEV_ADMIN_PASSWORD=ChangeMe123!
